<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Login</title>
</head>
<body>
   <div class="container">
    <button onclick="window.location.href='.././'" class="voltar">Voltar</button>
    <h1>Login</h1>
    <div class="activity-list">
        <form action="./" method="post">
            <input type="text" name="usuario" placeholder="Usuário" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
    </div>
    {% if mensagem %}
        <p>{{ mensagem }}</p>
    {% endif %}
   </div>
</body>
</html>
