<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Painel</title>
</head>
<body>
    <div class="container">
        <button onclick="window.location.href='../'" class="voltar">Voltar</button>
        <h1>Bem-vindo, {{ usuario }}</h1>
        <button><a href="./logout">Sair</a></button>
    </div>
</body>
</html>
