<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Menu da UC</title>
</head>
<body>
    <div class="container">
        <button onclick="window.location.href='/atividades'" class="voltar">Voltar</button>
        <h1>Atividades 06/11</h1>
        <div class="activity-list">
            <ul>
                <li><a href="http://127.0.0.1:5000/atividades/aula_11_06/telaLogin">Atividade Login</a></li>
                <li><a href="http://127.0.0.1:5000/atividades/aula_11_06/formulario">Atividade Formulario</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
