<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Menu da UC</title>
</head>
<body>
    <div class="container">
        <button onclick="window.location.href='/atividades'" class="voltar">Voltar</button>
        <h1>Atividades Pré Prova</h1>
        <div class="activity-list">
            <ul>
                <li><a href="/atividades/aula_12_18/atividadeBlog">Atividade Mini Blog</a></li>
                <li><a href="/atividades/aula_12_18/auth">Atividade Autenticação</a></li>
                <li><a href="/atividades/aula_12_18/atividadeUploadImg">Atividade Upload de Imagem</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
