<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Menu de Atividades</title>
</head>
<body>
    <div class="container">
        <button onclick="window.location.href='/atividades'" class="voltar">Voltar</button>
        <h1>Atividades</h1>
        <div class="activity-list">
            <ul>
                <li><a href="./atv01">Atividade 01</a></li>
                <li><a href="./atv02">Atividade 02</a></li>
                <li><a href="./atv03">Atividade 03</a></li>
                <li><a href="./atv04">Atividade 04</a></li>
                <li><a href="./atv05">Atividade 05</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
