<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Menu de Curriculos</title>
</head>
<body>
    <div class="container">
        <button onclick="window.location.href='/atividades/aula_10_30'" class="voltar">Voltar</button>
        <h1>Alunos</h1>
        <div class="activity-list">
            <ul>
                <li><a href="/atividades/aula_10_30/atv05/nathan">Nathan Brito</a></li>
                <li><a href="/atividades/aula_10_30/atv05/isabelle">isabelle Rancan</a></li>
                <li><a href="/atividades/aula_10_30/atv05/caio">Caio Freitas</a></li>
                <li><a href="/atividades/aula_10_30/atv05/franciele">Franciele Almeida</a></li>
                <li><a href="/atividades/aula_10_30/atv05/vinicius">Vinicius Medina</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
