<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Menu da UC</title>
</head>
<body>
    <div class="container">
        <h1>Frameworks</h1>
        Olá! Esse portifolio é um projeto para a UC de Framework para Desenvolvimento Web.
        <div class="activity-list">
            <ul>
                <li><a href="http://127.0.0.1:5000/atividades">Atividades da Materia</a></li>
                <li><a href="http://127.0.0.1:5000/aulas">Anotações das Aulas</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
