<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Aulas Realizadas</title>
</head>
<body>
    <div class="container">
        <button onclick="window.location.href='/'" class="voltar">Voltar</button>
        <h1>Lista de Atividades</h1>
        <div class="activity-list">
            <ul>
                <li><a href="/aulas/aula_10_16">Anotações da Aula do dia 16/10</a></li>
                <li><a href="/aulas/aula_10_23">Anotações da Aula do dia 23/10</a></li>
                <li><a href="/aulas/aula_10_30">Anotações da Aula do dia 30/10</a></li>
                <li><a href="/aulas/aula_11_06">Anotações da Aula do dia 06/11</a></li>
                <li><a href="/aulas/aula_11_13">Anotações da Aula do dia 13/11</a></li>
                <li><a href="/aulas/aula_12_18">Anotações da Aula do dia 18/12</a></li>
                <li><a href="/aulas/prova">Prova realizada no dia 08/01/2025</a></li>
            </ul>
        </div>
        <pre>
            As demais aulas foram útilizadas para o desenvolvimento e feedback para o trabalho da unidade curricular

            Pode ser acessado pelo link: https://github.com/Nathan-Brito/analise_emocional
        </pre>
    </div>
</body>
</html>
