<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Currículo de Franciele Almeida</title>
</head>
<body>
    <div class="container">
        <button onclick="window.location.href='./'" class="voltar">Voltar</button>
        <header class="profile-header">
            <h1>Franciele Almeida</h1>
            <p class="subtitle">Desenvolvedora de Sistemas</p>
        </header>

        <section class="profile-section">
            <h2>Resumo</h2>
            <p>Sou estudante de Tecnólogo em Análise e Desenvolvimento
                de Sistemas pelo Instituto Federal do Mato Grosso do Sul -
                Campus Três Lagoas (IFMS-TL). Possuo maiores habilidades no
                desenvolvimento web, além de conhecimento em
                ferramentas de programação.</p>
        </section>

        <section class="profile-section">
            <h2>Experiência</h2>
            <ul>
                <li><strong>Prefeitura Três Lagoas</strong> - Atendente de Farmácia (05/2022 - Presente)</li>
                <li><strong>Hospital Cassems</strong> - Assistente de Farmácia (07/2016 - 06/2022)</li>
            </ul>
        </section>

        <section class="profile-section">
            <h2>Educação</h2>
            <ul>
                <li><strong>Instituto Federal do Mato Grosso do Sul</strong> - Teecnologo em Análise e Desenvolvimento de Sistemas (07/2022 - 07/2025)</li>
                <li><strong>SENAC</strong> - Técnico em Farmácia (04/2024 - 08/2015)</li>
            </ul>
        </section>

        <section class="profile-section">
            <h2>Habilidades</h2>
            <ul class="skills-list">
                <li>Ambiente de Desenvolvimento WEB - HTML, CSS, JS, React, Flask</li>
                <li>linguagens de Programação - JS, Python</li>
                <li>Banco de Dados - PostgreSQL, MongoDB</li>
            </ul>
        </section>

        <section class="profile-section">
            <h2>Contato</h2>
            <p>Email: franciele.tlc@gmail.com.br</p>
            <p>Telefone: (67) 99321-1319</p>
        </section>
    </div>
</body>
</html>
