<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Currículo de Nathan Brito</title>
</head>
<body>
    <div class="container curriculo">
        <button onclick="window.location.href='./'" class="voltar">Voltar</button>
        <header class="profile-header">
            <h1>Nathan da Silva Brito</h1>
            <p class="subtitle">Desenvolvedor Frontend</p>
        </header>

        <section class="profile-section">
            <h2>Resumo</h2>
            <p>Sou graduando em Tecnologia em Análise e Desenvolvimento de Sistemas (TADS) pelo Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso do Sul - <i>Campus</i> Três Lagoas (IFMS-TL).</p>
            <p>Com habilidades em desenvolvimento frontend, fácil aprendizagem em linguagens e ferramentas voltadas a programação e constante desejo de evolução</p>
        </section>

        <section class="profile-section">
            <h2>Experiência</h2>
            <ul>
                <li><strong>SESI Três Lagoas</strong> - Estagiario de TI (09/2022 - 01/2024)</li>
                <li><strong>Inove Negocios Imobiliarios</strong> - Correspondente Bancario Caixa (02/2024 - ~~)</li>
            </ul>
        </section>

        <section class="profile-section">
            <h2>Educação</h2>
            <ul>
                <li><strong>Fundação de Ensino de Contagem - FUNEC</strong> - Ensino Médio (02/2016 - 12/2018)</li>
                <li><strong>Instituto Federal de Minas Gerais - IFMG</strong> - Bacharelado em Engenharia de Controle e Automação (02/2019 - 06/2021 ~Interrompida)</li>
                <li><strong>Instituto Federal do Mato Grosso do Sul - IFMS</strong> - Tecnologia de Análise e Desenvolvimento de Sistemas (06/2022 - 08/2025)</li>
            </ul>
        </section>

        <section class="profile-section">
            <h2>Habilidades</h2>
            <ul class="skills-list">
                <li>Ambiente de Desenvolvimento WEB - HTML, CSS, JS, React, Flask</li>
                <li>linguagens de Programação - JS, TS, Python, C#, Godot</li>
                <li>Banco de Dados - PostgreSQL, MongoDB</li>
                <li>Fácil aprendizagem de novas tecnologias</li>
            </ul>
        </section>

        <section class="profile-section">
            <h2>Contato</h2>
            <p>Email: nathansilvabritoo@hotmail.com</p>
            <p>Telefone: (67) 98188-6087</p>
        </section>
    </div>
</body>
</html>
