<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Currículo de Caio Freitas</title>
</head>
<body>
    <div class="container curriculo">
        <button onclick="window.location.href='./'" class="voltar">Voltar</button>
        <header class="profile-header">
            <h1>Caio Freitas</h1>
            <p class="subtitle">Analista de Sistemas | Oracle | SQLServer | BI | JS | Python</p>
        </header>

        <section class="profile-section">
            <h2>Resumo</h2>
            <p>Sou graduando em Tecnologia em Análise e Desenvolvimento deSistemas (TADS) pelo Instituto Federal de Educação, Ciência eTecnologia de Mato Grosso do Sul - Campus Três Lagoas (IFMS-TL). Tenho atuado na área de Análise de Sistemas e SuporteComputacional, com um foco na manipulação e extração dedados de bancos de dados, bem como no controle e análise dodesempenho dos recursos no sistema Warehouse ManagementSystem (WMS).</p>
            
        </section>

        <section class="profile-section">
            <h2>Experiência</h2>
            <ul>
                <li><strong>Adar Tecidos</strong> - Analista de Sistemas (04/2024 - Presente)</li>
                <li><strong>Adar Tecidos</strong> - Assistente de Sistemas (11/2022 - 06/2024)</li>
                <li><strong>Instituto Federal do Mato Grosso do Sul - IFMS</strong> - Desenvolvedor de Solftware (05/2022 - 11/2022)</li>
                <li><strong>CNPq</strong> - Bolsista - ITI-A Embrapa Pantanal (01/2021 - 06/2022)</li>

            </ul>
        </section>

        <section class="profile-section">
            <h2>Educação</h2>
            <ul>
                <li><strong>Instituto Federal do Mato Grosso do Sul - IFMS</strong> - Tecnologia de Análise e Desenvolvimento de Sistemas (01/2020 - 12/2024)</li>
                <li><strong>Programação Python do Básico ao Avançado</strong></li>
                <li><strong>Curso de JavaScript do iniciante ao mestre NodeJS e TypeScript</strong></li>
                <li><strong>Super Formação Inteligência Artificial e Machine Learning</strong></li>
            </ul>
        </section>

        <section class="profile-section">
            <h2>Habilidades</h2>
            <ul class="skills-list">
                <li>Scrum</li>
                <li>Banco de DadosSQL</li>
                <li>Análise de Sistemas</li>
            </ul>
        </section>

        <section class="profile-section">
            <h2>Contato</h2>
            <p>caio.freitas2598@gmail.com</p>
            <p>www.linkedin.com/in/caio-freitas-77b824236</p>
        </section>
    </div>
</body>
</html>
