<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Atividades Realizadas</title>
</head>
<body>
    <div class="container">
        <button onclick="window.location.href='/'" class="voltar">Voltar</button>
        <h1>Lista de Atividades</h1>
        <div class="activity-list">
            <ul>
                <li><a href="/atividades/aula_10_30">Atividades da Aula do dia 30/10</a></li>
                <li><a href="/atividades/aula_11_06/">Atividades da Aula do dia 06/11</a></li>
                <li><a href="/atividades/aula_11_13/">Atividades da Aula do dia 13/11</a></li>
                <li><a href="/atividades/aula_12_18/">Atividades da Aula do dia 18/12</a></li>
                <li><a href="/atividades/prova/">Prova aplicada no dia 08/01/2025</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
